.statusbar 
    .statusbar__column 
        a(href=routes.home)
            span NETFLEX 
        a(href=routes.tv)
            span TV 
        a(href=routes.movie)
            span 영화
        a(href=routes.myList)
            span 내가 찜한 콘텐츠 
    .statusbar__column 
        a(href=routes.search)
            i.fas.fa-search 
        i.fas.fa-user-circle
